Nihongo/src/main/webapp/resources/nihongo/test/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test" type="testType"/>
  <xs:complexType name="rowType" mixed="true">
    <xs:sequence>
      <xs:element name="col" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="answerType" name="answer" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="number" use="optional"/>
    <xs:attribute type="xs:string" name="answer" use="optional"/>
  </xs:complexType>
  <xs:complexType name="testType">
    <xs:sequence>
      <xs:element type="tableType" name="table"/>
      <xs:element type="maru-batsu-panelType" name="maru-batsu-panel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reiType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="number" use="optional"/>
        <xs:attribute type="xs:string" name="answer" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="maru-batsu-panelType">
    <xs:sequence>
      <xs:element type="reiType" name="rei" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colType" mixed="true">
    <xs:sequence>
      <xs:element type="answerType" name="answer" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="answerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>